body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#blog-list {
    margin-top: 20px;
}

#searchBar {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

ul#blogs-container {
    list-style: none;
    padding: 0;
}

ul#blogs-container li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
